<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>findpassword</title>
    <link REL="SHORTCUT ICON" HREF="{% static "image/favicon.ico" %}">
    <script src="../../static/js/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.css">
	<script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/kefu1.js"></script>
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="span2">
				</div>
				<div class="span6">
					<form class="form-horizontal" method='post'>
                    {% csrf_token %}
						<div class="control-group">
							<h1 align="center" class="page-header">Find Password</h1>
							<div align="center">
								<label>用户名：</label><input type="text" name="username" placeholder="输入你要找回的用户名"><br>
								<label>邮&nbsp;&nbsp;&nbsp;箱：</label><input type="text" name="email" placeholder="输入你的邮箱"><br>
								<input type="submit" href="{% url 'findpassword_page' %}" value="找回密码"><br>
								{% if error %}
									<div style="color: red">{{ error }}</div>
								{% endif %}<br>
								{% if password %}
									<div style="color: red">您的密码为：{{ password }}，请记住您的密码</div>
								{% endif %}<br>
								<a class="btn btn-primary btn-large" href="{% url 'login_page' %}">返回登录</a>
							</div>
						</div>
					</form>
				</div>
				<div class="span4">
				</div>
			</div>
		</div>
	</div>
</div>
<script>
        var kefu = new Kefu1({
            index: "{% url 'home_page' %}",
            tel: "15616697909",//电话号码
            qq: "774472695",//在线QQ
        });
    </script>
</body>
</html>