<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>add_book</title>
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-combined.min.css">
	<script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/kefu1.js"></script>
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="span4">
				</div>
				<div class="span4">
                    <div>
                        <h1>添加书籍</h1>
                        <form method="post" enctype="multipart/form-data">{% csrf_token %}
                            <label>书籍封面：</label><input name="b_icon" type="file"><br>
                            <label>书籍名称：</label><input type="text" name="book_name" placeholder="请输入你要添加的书名"><br>
                            <label>出版日期：</label><input type="date" name="book_pub_date" placeholder="请输入书的出版日期"><br>
                            <label>书籍链接：</label><input type="text" name="book_url" placeholder="请输入书籍资源链接"><br>
                            <label>书籍作者：</label><input type="text" name="book_author" placeholder="请输入书籍的作者"><br>
                            <label>书籍简述：</label><input type="text" name="book_description" placeholder="请输入书籍的简要描述">
                            <label>出版社名：</label><input type="text" name="book_pub" placeholder="请输入该书出版社名">
                            <label>书籍类型：</label>
                            <input class="myforms-3-2" type="radio"  name="book_type" value="1">其他类
                            <input class="myforms-3-3" type="radio" checked ="checked" name="book_type" value="0">编程类<br>
                            <input style="color: red" href="{% url 'book:add_book_page' %}" type="submit" value="添加"><br>
                        </form>
                        <a style="color: red">{{ error }}</a><br>
                    </div>
                    <div>
                        <a style="color: crimson" href="">从文件中添加书本</a>
                    </div>
				</div>
				<div class="span4">
				</div>
			</div>
		</div>
	</div>
</div>

<script>
        var kefu = new Kefu1({
            index: "{% url 'book:home_page' %}",
            tel: "15616697909",//电话号码
            qq: "774472695",//在线QQ
            wechatPerson: {
                state: true,// true是开启个人微信二维码, false不开启
                imgURL: "./imgs/2wm.png"
            },
            wechatofficial: {
                state: true,// true是开启微信公众号二维码, false不开启
                imgURL: "./imgs/2wm.png"
            }//微信公众号
        });
    </script>
</body>
</html>