<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>书籍信息</title>
    <link REL="SHORTCUT ICON" HREF="{% static "image/favicon.ico" %}">
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/kefu1.js"></script>
    <script type="text/javascript" src="/static/js/jquery.comment.js" ></script>
<style>
p{ margin:0; padding:0;}
.login-put {
clear: both;
line-height: 36px;
margin-bottom: 20px;
overflow: hidden;
width: 500px;
}
.login-put label {
color: #8c8686;
float: left;
font-size: 14px;
height: 36px;
line-height: 36px;
text-align: right;
width: 120px;
}
#form1{ float:left; width:320px}
#form1 label {
float: left;
text-align: left;
width: 80px;
}
input {
cursor: pointer;
vertical-align: middle;
}
.login-put #div1 {
padding-left: 120px;
}
.login-put #div1 input {
border: 1px solid #dddddd;
color: #999999;
float: left;
height: 36px;
line-height: 36px;
margin-right: 10px;
padding: 0 5px;
width: 190px;
}
</style>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1 align="center">{{ book.book_name }}</h1>
			</div>
			<div class="row clearfix">
				<div class="col-md-8 column">
					<img alt="140x140" src="../../media/{{ book.book_image }}" class="img-circle" height="200" width="200"/>
                    <blockquote><!--左边竖直边线-->
                        <li style="background: aliceblue; font-size: 30px">作者：{{ book.book_author }}</li><br>
                        <li style="background: aliceblue; font-size: 30px">出版社：{{ book.book_pub }}</li><br>
                        <li style="background: aliceblue; font-size: 30px">出版日期：{{ book.book_pubdate }}</li><br>
                        <li style="background: aliceblue; font-size: 25px">简介：{{ book.description }}</li><br>
                        <li style="background: aliceblue; color: red; font-size: 25px">书籍下载链接：<a href="http://{{ book.book_url }}">轻轻一点</a></li>
                    </blockquote>
                    <hr>
                    <form method="post">
                        {% csrf_token %}
                        <div>
                            <h4 style="color: blue">点评</h4>
                            <textarea cols="85" rows="5" placeholder="优质的评论能给他人带来方便" maxlength="1000" name="content"></textarea>
                        </div>
                        <h><small>不超过1000字！！！</small></h>
                        <button class="btn btn-primary" title="Login to Comment">评论</button><br>
                    </form>
                    <hr>
                    <h4 style="color: blue">评论<span style="color: red" class="badge pull-left">{{count}}</span></h4>

					{% for comment in comments %}
                        <div id="div1" style="display:none">
                                        <label>
                                            <input class="text01" name="rely_content" type="text"/><a>发送</a>
                                        </label>
                                    </div>
                        <blockquote>
                            <div class="media well">
                                <!--<a href="#" class="pull-left"><img src="../../media/user_images/head_image.jpg" class="media-object" alt="140x140" /></a>-->
                                <div class="media-body">
                                    <h4 class="media-heading">

                                        <span style="font-size: x-small; ">{{ comment.username }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ comment.comment_time | date:"Y-m-d H:i:s"}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <!--<input type="button" value="回复" onClick="show()"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            {% if user.is_admin == 1 %}
                                                <a style="color: red" href="delete_comment{{ comment.id }}">删除</a>
                                            {% endif %}
                                            {% if user.username == comment.username %}
                                                <a style="color: red" href="delete_comment{{ comment.id }}">删除</a>
                                            {% endif %}!-->
                                        </span>
                                    </h4>{{ comment.content }}

                                    {% for child_comment in child_comments %}
                                        {% if child_comment.parent_id == comment.id %}
                                        <blockquote>
                                            <div class="media-body">
                                                <div class="media">
                                                    <a href="#" class="pull-left"></a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading">
                                                            <span style="font-size: x-small; ">{{ child_comment.username }}回复{{ comment.username }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ child_comment.comment_time | date:"Y-m-d H:i:s"}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            <!--{% if user.is_admin == 1 %}
                                                                <a style="color: red" href="delete_comment{{ child_comment.id }}">删除</a>
                                                            {% endif %}
                                                            {% if user.id == child_comment.username_id %}
                                                                <a style="color: red" href="delete_comment{{ child_comment.id }}">删除</a>
                                                            {% endif %}-->
                                                            </span>
                                                        </h4>{{ child_comment }}
                                                    </div>
                                                </div>
                                             </div>
                                        </blockquote>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </blockquote>
                    {% endfor %}
				</div>
				<div class="col-md-4 column">
					<h3 class="text-left">
						推荐榜
					</h3>
					<blockquote>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
						</p> <small>Someone famous <cite>Source Title</cite></small>
					</blockquote>
					<blockquote>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
						</p> <small>Someone famous <cite>Source Title</cite></small>
					</blockquote>
				</div>
			</div>
		</div>
	</div>

</div>
<script>
    var kefu = new Kefu1({
        index: "{% url 'book:home_page' %}",
        tel: "15616697909",//电话号码
        qq: "774472695",//在线QQ
    });
    function show()
    {
        var value = document.getElementById("div1").style.display;
        if(value=="none")
        {
            document.getElementById("div1").style.display="block";
        }
        else
            document.getElementById("div1").style.display="none";
    }
</script>

</body>
</html>